<link rel="stylesheet" href="/site/css/button.css">

<header>
    <a href="/" id="home-link">Starfish</a>
    <a class="button" target="_blank" rel="noopener" href="https://github.com/skyfallwastaken/starfish">
        skyfallwastaken/starfish
    </a>
</header>

<style>
    header {
        height: 3.5rem;
        background-color: var(--secondary-color);
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header * {
        margin-left: auto;
    }

    #home-link {
        margin-left: 0;
    }

    header a {
        text-decoration: none;
        color: white;
    }
</style>